[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
selenium = "*"
bs4 = "*"
beautifulsoup4 = "*"
fastapi = "*"
uvicorn = "*"
requests = "*"
selenium-requests = "*"
inline = "*"
scrapy-inline-requests = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
